/* 默认亮色主题 */
:root {
	--theme-color: #333333;

	/* layout */
	--theme-menu-bg-color: #1e222d;
	--theme-hover-menu-bg-color: #262f3e;
	--theme-active-menu-bg-color: #006eff;
	--theme-menu-text-color: #c1c6c8;
	--theme-menu-border-color: #1e222d;

	/* header */
	--theme-header-bg-color: #ffffff;
	--theme-header-text-color: #333333;
	--theme-header-border-color: #e6e6e6;

	/* tabs */
	--theme-tabs-bg-color: #ffffff;
	--theme-tabs-text-color: #333333;
	--theme-tabs-active-text-color: #006eff;

	/* footer */
	--theme-footer-border-color: #e6e6e6;
	--theme-footer-bg-color: #ffffff;
	--theme-footer-text-color: #333333;

	/* main */
	--theme-main-bg-color: #f5f7fa;
	--theme-main-border-color: #e6e6e6;
}

/* 暗色主题搭配 */
html.dark {
	--theme-color: #ffffff;

	/* layout */
	--theme-menu-bg-color: #141414;
	--theme-hover-menu-bg-color: #1e1e20;
	--theme-active-menu-bg-color: #006eff;
	--theme-menu-text-color: #c1c6c8;
	--theme-menu-border-color: #414243;

	/* header */
	--theme-header-bg-color: #141414;
	--theme-header-text-color: #c1c6c8;
	--theme-header-border-color: #414243;

	/* tabs */
	--theme-tabs-bg-color: #141414;
	--theme-tabs-text-color: #c1c6c8;
	--theme-tabs-active-text-color: #44bd87;

	/* footer */
	--theme-footer-border-color: #414243;
	--theme-footer-bg-color: #141414;
	--theme-footer-text-color: #c1c6c8;

	/* main */
	--theme-main-bg-color: #141414;
	--theme-main-border-color: #414243;
}

/* app尺寸 */
$side-bar-width: 200px;
